/* ===== FEATURED PARTNERS SECTION ===== */
#partners {
  text-align: center;
  margin: 60px auto;
  padding: 20px 40px;
  max-width: 1000px;
}

#partners h2 {
  font-size: 2rem;
  font-weight: 500;
  color: #111;
  margin-bottom: 8px;
}

#partners p {
  font-size: 1rem;
  margin-bottom: 30px;
}

.partner-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.partner-logos img {
  width: 100px;
  height: auto;
  transition: all 0.3s ease;
  padding: 5px;
}

.partner-logos img:hover {
  transform: scale(1.08);
}

/* ===== RESPONSIVE DESIGN ===== */
@media (max-width: 992px) {
  #partners {
    padding: 20px;
  }

  .partner-logos img {
    width: 80px;
  }

}

@media (max-width: 600px) {
  #partners h2{
    font-size: 1.5rem;
  }

}
