/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(to bottom, #e9f3ff, #ffffff);
  color: #1a1a1a;
}


